/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./src/app/styles/contact.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.contact_container__P6kB7{
    color:  rgb(187, 42, 42);
    background-color: rgb(146, 146, 196);
    height: 700px;
    text-align: center;
    
}
.contact_h1__pyVHc{
    color:white;
    background-color: black;
    height: 40px;
    margin-bottom: 20px;
  
    font-size: 1.5rem;
    
    

    }
    .contact_p__psiEL{
        text-align: center;
        color: black;
        font-size: xx-large;
        margin-top: 3%;
    }
    .contact_ul__qAKJN{
        text-align: center;
        margin-top: 10%;
        font-size: x-large;

    }

